h1 {
    text-align: center;
}

.container {
    padding: 3% 20%;
    padding-block: 1em;
    margin: auto;
    text-align: center;
    display: grid;
    justify-content: center;
}

.table {
    table-layout: fixed;
    width: 500px;
}